.fll {
  float: left;
}

.flr {
  float: right;
}

.clearfix {
  &::after{
    content: '';
    display:block;
    clear: both;
  }
}

.ml-200{
  margin-left: 200px;
}

a {
  text-decoration: none;
  color: rgb(191, 203, 217);
}

//表格全局样式
.table-item-img {
  width: 80px;
  height: 80px;
}

//全局card 样式
.app-main .el-card {
  min-height: calc(100vh - 160px)
}
